#game_table {
	position:fixed;
	/* border:black 2px solid; */
	height: 550px;
	width:700px;
	margin-left:20%;
	margin-top:1%;
	padding:5px;
	background:green;
	border:3px solid #207437;
	border-radius:40px;
	-moz-border-radius:40px;
	-webkit-border-radius:40px;	
	-moz-box-shadow: 0 0 5px 5px #888;
	-webkit-box-shadow: 0 0 5px 5px#888;
	box-shadow: 0 0 5px 5px #888;
}

#top_seat {
	/* border:1px blue solid; */
	height: 15%;
}
.nameplayer {
	width:100%;
	margin:auto;
	text-shadow: 3px 3px 3px #084503;
    /*filter: dropshadow(color=#084503, offx=3, offy=3);*/
}
#top_hand {
	/* border:1px purple solid; */
	height: 95%;
	width: 50%;
	margin:auto;
}



#middle_seats {
	/* border:1px yellow solid; */
	height: 63%;
}

#left_seat {
	/* border : 1px red solid; */
	float:left;
	height:100%;
	width:15%;
}
#left_hand {
	/*border:1px purple solid;*/
	height: 100px;
	width:300px;
	margin-top:150px;
	margin-left:-90px;
	transform:rotate(90deg); 
	-ms-transform:rotate(90deg); /* Internet Explorer */
	-moz-transform:rotate(90deg); /* Firefox */
	-webkit-transform:rotate(90deg); /* Safari et Chrome */ 
	-o-transform:rotate(90deg); /* Opera */
}
#game_area {
	/* border : 1px red solid; */
	float:left;
	height:100%;
	width:69%;
	
}
#card_top {
	/* border:2px brown solid; */
	position: absolute;
	height:192px;
	width:142px;
	background-image: url("../img/cards/b2fv.png");
	-moz-background-size: 100% 100%;           /* Gecko 1.9.2 (Firefox 3.6) */
         -o-background-size: 100% 100%;           /* Opera 9.5 */
    -webkit-background-size: 100% 100%;           /* Safari 3.0 */
            background-size: 100% 100%;
	margin-left: 180px;
	margin-top: -20px;
}
#card_left {
	/* border:2px brown solid; */
	position: absolute;
	height:192px;
	width:142px;
	background-image: url("../img/cards/b2fv.png");
	-moz-background-size: 100% 100%;           /* Gecko 1.9.2 (Firefox 3.6) */
         -o-background-size: 100% 100%;           /* Opera 9.5 */
    -webkit-background-size: 100% 100%;           /* Safari 3.0 */
            background-size: 100% 100%;
	margin-left: 30px;
	margin-top: 90px;
	transform:rotate(90deg); 
	-ms-transform:rotate(90deg); /* Internet Explorer */
	-moz-transform:rotate(90deg); /* Firefox */
	-webkit-transform:rotate(90deg); /* Safari et Chrome */ 
	-o-transform:rotate(90deg); /* Opera */
}
#card_right {
	/* border:2px brown solid; */
	position: absolute;
	height:192px;
	width:142px;
	background-image: url("../img/cards/b2fv.png");
	-moz-background-size: 100% 100%;           /* Gecko 1.9.2 (Firefox 3.6) */
         -o-background-size: 100% 100%;           /* Opera 9.5 */
    -webkit-background-size: 100% 100%;           /* Safari 3.0 */
            background-size: 100% 100%;
	margin-left: 320px;
	margin-top: 90px;
	transform:rotate(90deg); 
	-ms-transform:rotate(90deg); /* Internet Explorer */
	-moz-transform:rotate(90deg); /* Firefox */
	-webkit-transform:rotate(90deg); /* Safari et Chrome */ 
	-o-transform:rotate(90deg); /* Opera */
}
#card_bottom {
	/* border:2px brown solid; */
	position: absolute;
	height:192px;
	width:142px;
	background-image: url("../img/cards/b2fv.png");
	-moz-background-size: 100% 100%;           /* Gecko 1.9.2 (Firefox 3.6) */
         -o-background-size: 100% 100%;           /* Opera 9.5 */
    -webkit-background-size: 100% 100%;           /* Safari 3.0 */
            background-size: 100% 100%;
	margin-left: 180px;
	margin-top: 200px;
}


#right_seat {
	/* border : 1px red solid; */
	float:left;
	height:100%;
	width:15%;
	
}
#right_hand {
	/* border:1px purple solid; */
	height: 100px;
	width:300px;
	margin-top:150px;
	margin-left:-120px;
	transform:rotate(90deg); 
	-ms-transform:rotate(90deg); /* Internet Explorer */
	-sand-transform:rotate(90deg); /* Internet Explorer */
	-moz-transform:rotate(90deg); /* Firefox */
	-webkit-transform:rotate(90deg); /* Safari et Chrome */ 
	-o-transform:rotate(90deg); /* Opera */
}
#bottom_seat {
	/* border:1px blue solid; */
	height: 15%;
}
#bottom_hand {
	/* border:1px purple solid; */
	height: 95%;
	width: 50%;
	margin:auto;
	
}
.hand_cards {
	position: absolute;
	height:96px;
	width:71px;
	background-image: url("../img/cards/b1fv.png");
}

.info_tab {
	margin-top: 60px;
	border: 1px blue dashed;
	height: 120px;
}

#hct1 {
	margin-left:60px;
}

#hct2 {
	margin-left:80px;
}
#hct3 {
	margin-left:100px;
}
#hct4 {
	margin-left:120px;
}
#hct5 {
	margin-left:140px;
}
#hct6 {
	margin-left:160px;
}
#hct7 {
	margin-left:180px;
}
#hct8 {
	margin-left:200px;
}
#hcb1 {
	margin-left:60px;
}

#hcb2 {
	margin-left:80px;
}
#hcb3 {
	margin-left:100px;
}
#hcb4 {
	margin-left:120px;
}
#hcb5 {
	margin-left:140px;
}
#hcb6 {
	margin-left:160px;
}
#hcb7 {
	margin-left:180px;
}
#hcb8 {
	margin-left:200px;
}
#hcl1 {
	margin-left:60px;
}

#hcl2 {
	margin-left:80px;
}
#hcl3 {
	margin-left:100px;
}
#hcl4 {
	margin-left:120px;
}
#hcl5 {
	margin-left:140px;
}
#hcl6 {
	margin-left:160px;
}
#hcl7 {
	margin-left:180px;
}
#hcl8 {
	margin-left:200px;
}
#hcr1 {
	margin-left:60px;
}

#hcr2 {
	margin-left:80px;
}
#hcr3 {
	margin-left:100px;
}
#hcr4 {
	margin-left:120px;
}
#hcr5 {
	margin-left:140px;
}
#hcr6 {
	margin-left:160px;
}
#hcr7 {
	margin-left:180px;
}
#hcr8 {
	margin-left:200px;
}
